##### BACKUP DIRECTORY #####
# - Make sure that user running the script has permissions to write in the backup directory.
#
backupDir="/backup/"
#
### MAXIMUM SIZE OF THE BACKUP DIRECTORY ###
# - Specify the maximum size for the backup folder, in KB, without the denominator.
#
maxDirSize="5000000"
#
### COMPRESS BACKUP FOLDER ###
# - To compress the backup folder set "1" below, otherwise set to "0" or leave unset.
#
tarBackup="1"
#
### BACKUP FILE OWNERSHIP ###
# - Ownership to set for the resulting backup file (only for tarBackup=1)
#
tarBackupOwnership="owner:group"
#
### TEMPORARY DIRECTORY ###
# - Full path of the directory where all files will be copied to during the backup.
#
tmpDir="/tmp"
#
### EXTRA DIRECTORY ###
# - Full path to another directory where the backup will be cloned to, otherwise leave unset.
#
extraBackupDir="/mnt/archive/"


##### DIRECTORIES AND FILES TO BACKUP #####
# - To add a directory or file, just add a new line to the sourceDir array.
# - Make sure that user running the script has permissions to read the folders and files.
#
sourceDir=(
/home/user
/etc
)

##### DIRECTORIES AND FILES TO EXCLUDE FROM THE BACKUP #####
# - To exclude a directory or file, just add a new line to the rsyncExludes array.
#
rsyncExcludes=(
Cache
cache
Logs
logs
Temp
temp
Tmp
tmp
*.log*
)


##### BACKUP FILES FROM FTP #####
# - To backup files from FTP set "1" bellow, otherwise set to "0" or leave unset.
#
backupFtp="1"
#
### FTP SERVER ###
# - Address of the FTP server.
#
ftpHost=""
#
### FTP USERNAME ###
# - Username to access the FTP server.
#
ftpUser=""
#
### FTP PASSWORD ###
# - Password of the account selected previouslly.
#
ftpPass=""
#
### FTP DESTINATION FOLDER ###
# - Name of the folder in the backup archive where all the FTP files will be stored..
#
ftpDir="ftp"


##### BACKUP MYSQL DATABASES #####
# - To backup MySQL databases set "1" bellow, otherwise set to "0" or leave unset.
#
backupMysql="1"
#
### MYSQL SERVER ###
# - Address of the MySQL server to backup.
#
mysqlHost="localhost"
#
### MYSQL USERNAME ###
# - Username to acess the MySQL database.
#
mysqlUser="user"
#
### MYSQL PASSWORD ###
# - Password of the account selected previouslly.
#
mysqlPass="pass"
#
### MYSQL DATABASE ###
# - Set the name of the database to backup. To backup all set to "-A".
#
mysqlDb="db_name"
#
### SQL DESTINATION FOLDER ###
#
sqlDir="databases"


##### ROOT DIR CLONING #####
# - Full path to the directory where the root fs will be cloned to, otherwise leave unset.
#
cloneDir="/mnt/backupfs/"
#
### Mountpoints to mount before clonning the root fs. Will be umounted after post cloning script is done
cloneDirMounts=(
11111111-2222-3333-4444-555555555555,/mnt/backupfs,ext4,noatime
66666666-7777-8888-9999-000000000000,/mnt/backupfs/boot,ext4,noatime
AAAA-BBBB,/mnt/backupfs/boot/efi,vfat
)
#
### POST CLONING SCRIPT
# - Script to run after cloning the root filesystem
#
cloneDirScript="/opt/scripts/clonedir_installer.sh"


##### PLAIN TEXT LOG #####
# - Set to "1" to create a log file without colors, otherwise set to "0" or leave unset.
#
plainLog="1"


##### EXTRA COMMANDS #####
# - Output files will be stored in the root dir of the backup. Do not remove the last echo.
#
extra_commands ()
{
uname -r >example.txt
echo ""	>/dev/null
}
#
### EXTRA INFO ###
# - Extra information to include in the header on backup start.	Do not remove the last echo.
#
extra_info ()
{
echo "Example: $(uname -r)"
echo ""
}  

